<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>List a new puppy</title>
  </head>
  <body>
    <form class="" action="/displays" method="post">
      <label for="new_pup">List your puppy:</label>
      <input type="text" name="new_pup">
      <input type="submit" name="submit">
    </form>
  </body>
</html>
