<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to the Puppy Adoption Site</title>
    <a href="/new"> Click here to List a Puppy</a>
  </head>
  <body>

  </body>
</html>
